[Unit]
Description=Rovercode robotics application
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash /home/chip/rovercode/start.sh

[Install]
WantedBy=multi-user.target
