[Unit]
Description=Rovercode Daemon Service
After=network.target syslog.target docker.service rovercode-commissioning.service
Requires=docker.service rovercode-commissioning.service

[Service]
TimeoutStartSec=0
Restart=always
User=root
Group=root
ExecStartPre=-/usr/bin/docker stop rovercode
ExecStartPre=-/usr/bin/docker system prune -f
ExecStartPre=-/usr/bin/docker pull rovercode/rovercode-arm:latest
ExecStart=-/usr/bin/docker run --name rovercode --privileged -v /dev:/dev -v /opt/rovercode/.env:/var/rovercode/.env rovercode/rovercode-arm
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
Alias=rovercode.service
