table {
	height: 100%;
	width: 100%;
	border: none;
}

.top-bar li a {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 100%;
}

.title-area li a {
    font-family: "Just Another Hand";
    color: #fff;
    font-size: 200%;
    margin-left: 5px;
    margin-right: 20px;
}

#tableArea {
    margin-top: 45px;
    position:absolute;
    top:0;
    left:0;
	height: 100%;
    width: 100%;
}

#blocklyArea {
	height: 100%;
}

#codeArea {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #e2e2e2;
}

#responseArea {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: rgba(255, 255, 255, 0.75);
}

#videoBackground {
	background-size: cover;
	width: 300px;
}
